body {
	font-family: sans-serif;
	text-align: center;
}

header {
	font-style: italic;
	color: green;
}

img {
	width: 75px;
}

h1 {
	display: inline;
}

#searchBox {
	width: 300px;
	margin: auto 10px;
}

/*Comment at the end of the file*/